body{
    background-color: blue;
}
.pollutionfacts{
    background-color: red;
}
.Quancequencecesofpollution{
    background-color: yellow;
}
.howtoavoidpollution{
    background-color: chartreuse;
}
.typesofpolution{
    background-color: darkblue;
}